.moreComment {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 99, 0, 0.2);
    font-size: 35px;
}
#getComment {
    width: 60%;
    height: 60%;
    background-color: white;
    margin-top: 10%;
    margin-left: 25%;
}
#morecommentbtx {
    position: fixed;
    margin-top: -10%;
    margin-left: 47%;
}
#morecommentbtx button {
    cursor: pointer;
    border: 3px solid black;
}
#addComments {
    margin: 5%;
    text-align: left;
    background-color: yellow;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    font-size: 25px;
}
#addComments p {
    margin-left: 10px;
    font-style: italic;
}
#inputMoreComment #more {
    background-color: white;
    height: 70px;
    margin: 25px;
    margin-bottom: -5px;
}
#inputMoreComment #name {
    cursor: pointer;
    background-color: white;
    border: 3px solid black;
    display: block;
    width: 30%;
    height: 30px;
    margin: 25px;
    margin-bottom: -5px;
}
#inputMoreComment button {
    cursor: pointer;
    margin-left: 25px;
    margin-top: 30px;
}
