* {
    box-sizing: border-box;
}
body {
    background-color: chocolate;
}
#server {
    margin-left: 10px;
}
.im {
    display: flex;
    flex-direction: column;
}
#fiel {
    margin-left: 50px;
    font-size: 25px;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 120px 200px 1fr;
}
#fiel label {
    width: 100%;
}
#fiel input {
    height: 30px;
    width: 200px;
}
#field,
button {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 25px;
}
#upload {
    cursor: pointer;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 15%;
    height: 30px;
    text-align: center;
    border: 3px solid black;
    background-color: chartreuse;
}
input[type="url"] {
    width: 400px;
    height: 30px;
}
#imageboards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#imageboard {
    height: 420px;
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
    background-color: chartreuse;
    border-radius: 2%;
}
#imageboard img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0px;
}
#errorFile {
    background-color: gold;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
}
#imageboard #title {
    font-size: 25px;
    margin-top: 0px;
    text-align: left;
    margin-left: 2%;
    font-weight: bold;
}
#imageboard #description {
    font-size: 20px;
    margin-top: -15px;
    text-align: left;
    margin-left: 2%;
}
#cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#more {
    cursor: pointer;
    background-color: gold;
    height: 50px;
    border: 3px solid black;
}
#col {
    display: flex;
    flex-direction: row;
}
#file:hover,
#upload:hover {
    font-size: 30px;
    height: 50px;
}
input:focus {
    border: hotpink;
}
